@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@media screen and (min-width: 901px){
    td {
        font-size: 1.5vw !important; 
    }
}

@media screen and (min-width: 601px) and (max-width:900px) {
    td {
        font-size: 2vw !important; 
    }
}

@media screen and (max-width: 600px) {
    td {
        font-size: 3vw !important;
    }
}

img {
    border-radius: 10px;
    width: 80%;
    height: 80%;
}

.table {
    background-color: rgb(34, 34, 34);
    border: none !important;
    margin-right: 12px !important;
}

table {
    background-color: rgb(34, 34, 34) !important;
}

p,
.MuiTableCell-stickyHeader,
#\:r2\: {
    color: rgb(230, 230, 230) !important;
}

th {
    background-color: rgb(34, 33, 33) !important;
    font-weight: 600 !important;
}

td {
    font-family: "Montserrat" !important;
    font-weight: 300 !important;

}

.tableCell {
    border: none !important;
    color: rgb(230, 230, 230) !important;
}

.MuiToolbar-root {
    background-color: rgb(34, 34, 34);
}